<div class="container">
  <div class="row">

    <form [formGroup]="createForm">
      <h3 class="header-title">Form</h3>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="brand">Brand</label>
          <input type="text" class="form-control" id="brand" formControlName="Brand">
        </div>
        <div class="form-group col-md-6">
          <label for="model">Model</label>
          <input type="text" class="form-control" id="model" formControlName="Model">
        </div>
      </div>

      <div>
        <button type="button" class="btn btn-default" (click)="fileInput.click()">Add Image
          <i class="fa fa-plus"></i>
        </button>
        <input type='file' class="file-uploader" (change)="onSelectFile($event)" #fileInput/>

        <div *ngIf="images.length > 0">
          <div *ngFor='let img of images;' class="image-preview">
            <img [src]="img" height="100" width="100">
            <button class="btn btn-danger remove-image-button" title="Remove Image" (click)="removeImage(img)">X</button>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </form>
  </div>
</div>